* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inconsolata', monospace;
    background-image: url('bg.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#time, #time-to-end {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 0;
    text-align: center;
    text-shadow: 5px;
}

#newyearvisual p {
    padding-top: 2vh;
    text-align: center;
    position: relative;
}

#newyearvisual {
    padding-top: 2vh;
    padding-bottom: 2vh;
    align-content: initial;
}

#left, #right {
    width: 50%;
    float: left;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

#earth {
    height: 100%;
    width: 100%;
    z-index: -1;
}

.pin {
    color: white;
    text-align: center;
}